*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Sectiunea header inceput */

.header
{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.header ul
{
    list-style: none;
    display: flex;
}

.header a
{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
    padding: 20px;
}

.header h1
{
    font-size: 24px;
    color:#F9FAF8;
}

/* Sectiunea header final */

/* Sectiunea 1 inceput */

.section1
{
    padding: 100px;
    background-color: #1F2937;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section1 div
{
    flex: 0 1 auto;
}

.section1 h1
{
    color:#F3FAF8;
    font-size: 48px;
    font-weight:900;
}

.section1 p
{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
}

.section1 a
{
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
}

.section1 .cutie1
{
    max-width: 450px;
}

.section1 .cutie2
{
    background-color: grey;
    height: 250px;
    flex-basis: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cutie2 p
{
    text-align: center;
}

/* Section 1 end*/

/* Section 2 begin */

.section2
{
    padding: 40px;
}

.section2 h1
{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cutie3
{
    display: flex;
    height: 300px;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.imagine
{
    border: 5px solid #3882f6;
    flex-basis: 200px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.cutie3 p
{
    width: 200px;
    height: fit-content;
}